<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Accordion Component Challenge</title>

        <link rel="stylesheet" href="Style.css">
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    </head>

    <body>
        <div class = "Accordion">
            <div class = "Items">
                <p class = "Number">01</p>
                <p class = "Text">Where are These Chairs Assembeld</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="Icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>
                <div class = "Hidden-Box">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi beatae omnis quia modi autem voluptates, repellendus voluptatem! Eius ullam, labore id consequatur nam veritatis hic, dolorum laudantium, facilis temporibus fugiat.</p>
                    <ul>
                        <li>Loremste, architae corporis dicta nempernatur sit recusandae</li>
                        <li>t amet consectetur adipisicing elit. Quasi beatae omnis quia</li>
                        <li>Loremste, architae corporis dicta nempernatur sit</li>
                        <li>luptatem! Eius ullam, labore id consequatur nam veritatis hic</li>
                    </ul>
                </div>
            </div>

            <div class = "Items Opened">
                <p class = "Number">02</p>
                <p class = "Text">How Long do i Have to Return My Chair?</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="Icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>
                <div class = "Hidden-Box">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi beatae omnis quia modi autem voluptates, repellendus voluptatem! Eius ullam, labore id consequatur nam veritatis hic, dolorum laudantium, facilis temporibus fugiat.</p>
                    <ul>
                        <li>Loremste, architae corporis dicta nempernatur sit recusandae</li>
                        <li>t amet consectetur adipisicing elit. Quasi beatae omnis quia</li>
                        <li>Loremste, architae corporis dicta nempernatur sit</li>
                        <li>luptatem! Eius ullam, labore id consequatur nam veritatis hic</li>
                    </ul>
                </div>
            </div>

            <div class = "Items">
                <p class = "Number">03</p>
                <p class = "Text">Do You Ship Outside the EU</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="Icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>
                <div class = "Hidden-Box">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi beatae omnis quia modi autem voluptates, repellendus voluptatem! Eius ullam, labore id consequatur nam veritatis hic, dolorum laudantium, facilis temporibus fugiat.</p>
                    <ul>
                        <li>Loremste, architae corporis dicta nempernatur sit recusandae</li>
                        <li>t amet consectetur adipisicing elit. Quasi beatae omnis quia</li>
                        <li>Loremste, architae corporis dicta nempernatur sit</li>
                        <li>luptatem! Eius ullam, labore id consequatur nam veritatis hic</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>

</html>