<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Carousel Component Challenge</title>

        <link rel="stylesheet" href="Style.css">
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class = "Carousel">

            <img src="Content/maria.jpg" alt="Woman Image">

            <blockquote class = "Testimonial">
                <p class = "Testimonial-Text">"fewfaf Lorem ipsum, dolorie non a repellat optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime suscipit error deserunt illo eius, voluptas maiore"</p>
                <p class = "Testimonial-Auther">De maria Alvirado</p>
                <p class = "Testimonial-Job">Product Manager at IBM</p>
            </blockquote>

            <button  class="btn btn-Left">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="Button-Icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                    </svg>
            </button>
            <button class="btn btn-Right">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="Button-Icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>
            </button>

            <div class="Dots">
                <button class = "Fill">&nbsp;</button>
                <button>&nbsp;</button>
                <button>&nbsp;</button>
                <button>&nbsp;</button>
            </div>
        </div>
    </body>
</html>