<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Hero Section Challenge</title>

        <link rel="stylesheet" href="Style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">    </head>

    <body>
        <header>
                <nav class = "Container">
                    <div>logo</div>
                    <div>navigation</div>
                </nav>

                <div class = "Hero-Body">
                    <div class="Header-Ineer-Container">
                        <h1>A Healthy Meal Deliverd to Your Door, Every Single Day</h1>
                        <p>
                            the Smart 365-Day-Per-Year FoOd Subscription the will make you eat Healthy Again,
                            Tailored to Your Personal Tastes and Need.
                        </p>
                        <a href="#" class = "Hero-Button">Start Eating Well</a>
                    </div>
                </div>
        </header>

        <section>
            <div class = "Container">
                <h2>Somr Random Heading</h2>
                <P>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum corporis neque eligendi, laborum nisi,
                    ab, iusto reiciendis suscipit eius voluptas ratione rem laboriosam. Iste laborum quod,
                    exercitationem deserunt ut ullam?Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Consequuntur reprehenderit architecto illum eveniet aperiam necessitatibus! Suscipit nostrum pariatur nemo
                    officia et, aut ipsam, rerum assumenda odit, ullam mollitia sit quos.
                </P>
            </div>
        </section>
    </body>
</html>