:root {
  --Primary-Color: #eb2f64;
  --Primary-Color-Light: #FF3366;
  --Primary-Color-Dark: #BA265D;
  --Grey-light-1: #faf9f9;
  --Grey-light-2: #f4f2f2;
  --Grey-light-3: #f0eeee;
  --Grey-light-4: #ccc;
  --Grey-dark-1: #333;
  --Grey-dark-2: #777;
  --Grey-dark-3: #999;
  --shadow-Dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light:  0 2rem 5rem rgba(0,0,0, 0.06);
  --Line: 1px solid var(--Grey-light-2); }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--Grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--Primary-Color-Light), var(--Primary-Color-Dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

.Main-Container {
  max-width: 120rem;
  margin: 10rem auto;
  background-color: var(--Grey-light-1);
  box-shadow: var(--shadow-Dark);
  min-height: 80rem; }
  @media only screen and (max-width: 75em) {
    .Main-Container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.Header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: white;
  border-bottom: var(--Line);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 31.25em) {
    .Header {
      flex-wrap: wrap;
      height: 12rem;
      align-content: space-around; } }

.Content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .Content {
      flex-direction: column; } }

.Sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 15%;
  background-color: VAR(--Grey-dark-1); }

.Main-Content {
  flex-basis: 85%; }

.Gallery {
  display: flex; }

.Details {
  display: flex;
  gap: 4.5rem;
  padding: 4.5rem;
  background-color: var(--Grey-light-1);
  border-bottom: var(--Line);
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .Details {
      padding: 3rem;
      gap: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .Details {
      flex-direction: column; } }

.Description {
  flex-basis: 60%;
  background-color: white;
  box-shadow: var(--shadow-light);
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .Description {
      padding: 2rem; } }

.User-Reviews {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.Logo {
  height: 3.25rem;
  margin-left: 2rem; }

.Search {
  display: flex;
  flex-basis: 40%;
  align-items: center;
  justify-content: center; }
  .Search-Input {
    padding: 0.7rem 2rem;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--Grey-light-2);
    border: none;
    border-radius: 99rem;
    width: 90%;
    transition: all 200ms; }
    .Search-Input:focus {
      outline: none;
      width: 100%; }
    .Search-Input::placeholder {
      font-weight: 100;
      color: var(--Grey-light-4); }
    @media only screen and (max-width: 31.25em) {
      .Search-Input:focus {
        outline: none;
        width: 95%; } }
  .Search-Button {
    border: none;
    background-color: var(--Grey-light-2); }
    .Search-Button:focus {
      outline: none; }
    .Search-Button:active {
      transform: translateY(0.2rem); }
  .Search-Icon {
    height: 2rem;
    width: 2rem;
    fill: var(--Grey-dark-3);
    margin-left: -3.5rem; }
  @media only screen and (max-width: 31.25em) {
    .Search {
      order: 1;
      flex-basis: 100%; } }

.User-Nav {
  align-self: stretch;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .User-Nav > * {
    padding: 0 2rem;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center; }
  .User-Nav > *:hover {
    background-color: var(--Grey-light-2); }

.Icon-Box {
  position: relative; }

.Icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: var(--Grey-dark-2); }

.Notification {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: white;
  height: 1.75rem;
  width: 1.75rem;
  background-color: var(--Primary-Color);
  padding: 0.5rem;
  border-radius: 50%;
  position: absolute;
  top: 1.5rem;
  right: 1.1rem; }

.User-Photo {
  height: 3.75rem;
  border-radius: 50%;
  margin-right: 1rem; }

.Side-Nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .Side-Nav {
      display: flex;
      margin: 0; } }

.Nav-Item {
  position: relative; }
  .Nav-Item-Link:link, .Nav-Item-Link:visited {
    position: relative;
    color: var(--Grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    z-index: 99; }
    @media only screen and (max-width: 56.25em) {
      .Nav-Item-Link:link, .Nav-Item-Link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .Nav-Item-Link:link, .Nav-Item-Link:visited {
        flex-direction: column;
        padding: 1.5rem 0.5rem; } }
  .Nav-Item-Icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }
    @media only screen and (max-width: 37.5em) {
      .Nav-Item-Icon {
        margin-right: 0;
        margin-bottom: 0.5rem;
        height: 1.5rem;
        width: 1.5rem; } }
  .Nav-Item:not(:last-child) {
    margin-bottom: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .Nav-Item:not(:last-child) {
        margin-bottom: 0; } }
  .Nav-Item::before {
    content: "";
    background-color: var(--Primary-Color);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    transform: scaleY(0);
    transition: transform 200ms, width 400ms cubic-bezier(1, 0, 0, 1) 200ms; }
  .Nav-Item:hover::before, .Nav-Item-Active::before {
    transform: scaleY(1);
    width: 100%; }
  .Nav-Item:active::before {
    background-color: var(--Primary-Color-Light); }
  @media only screen and (max-width: 56.25em) {
    .Nav-Item {
      flex-grow: 1; } }

.Copy-Rights {
  font-size: 1.2rem;
  text-align: center;
  color: var(--Grey-light-4);
  padding: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .Copy-Rights {
      display: none; } }

.Gallery-Image {
  width: 100%;
  display: block; }

.Overview {
  display: flex;
  align-items: center;
  border-bottom: var(--Line); }
  .Overview-Heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
    @media only screen and (max-width: 37.5em) {
      .Overview-Heading {
        font-size: 1.8rem;
        padding: 1rem 2rem; } }
  .Overview-Stars {
    margin-right: auto;
    display: flex; }
  .Overview-Icon-Star, .Overview-Icon-Location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--Primary-Color); }
  .Overview-Location {
    display: flex;
    align-items: center;
    font-size: 1.2rem; }
  .Overview-Icon-Location {
    margin-right: 0.5rem; }
  .Overview-Rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--Primary-Color);
    color: white;
    margin-left: 3rem;
    align-self: stretch;
    padding: 0 2.5rem; }
    .Overview-Rating-Average {
      display: block;
      font-size: 2.25rem;
      font-weight: 300; }
      @media only screen and (max-width: 37.5em) {
        .Overview-Rating-Average {
          font-size: 1.8rem; } }
    .Overview-Rating-Count {
      font-size: 0.8rem;
      text-transform: uppercase; }
      @media only screen and (max-width: 37.5em) {
        .Overview-Rating-Count {
          font-size: 0.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .Overview-Rating {
        padding: 0 1.5rem; } }

.Button-inline {
  border: none;
  background-color: transparent;
  color: var(--Primary-Color);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 0.2rem;
  display: inline-block;
  cursor: pointer;
  transition: all 200ms; }
  .Button-inline span {
    margin-left: 0.3rem;
    transition: margin-left 200ms; }
  .Button-inline:hover {
    color: var(--Grey-dark-1); }
    .Button-inline:hover span {
      margin-left: 0.8rem; }
  .Button-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.Paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.List {
  margin: 3rem 0;
  list-style: none;
  padding: 3rem 0;
  border-top: var(--Line);
  border-bottom: var(--Line);
  display: flex;
  flex-wrap: wrap; }
  .List-Item {
    flex-basis: 50%;
    margin-bottom: 0.7rem; }
  .List-Item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
    background-color: var(--Primary-Color);
    mask: url(../Content/img/chevron-thin-right.svg);
    mask-size: cover; }

.Recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .Recommend-Images {
    display: flex; }
  .Recommend-Image {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border: 3px solid white;
    border-radius: 50%; }
    .Recommend-Image:not(:last-child) {
      margin-right: -2rem; }

.Review {
  background-color: white;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  .Review-Text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 10; }
  .Review-User {
    display: flex;
    align-items: center; }
  .Review-Image {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .Review-Info {
    display: flex;
    flex-direction: column;
    margin-right: auto; }
  .Review-Name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem; }
  .Review-Date {
    font-size: 1rem;
    color: var(--Grey-dark-3); }
  .Review-Rating {
    color: var(--Primary-Color);
    font-size: 2.5rem;
    font-weight: 300; }
  .Review::before {
    content: "\201C";
    position: absolute;
    top: -2.5rem;
    left: -1rem;
    font-family: sans-serif;
    font-size: 20rem;
    line-height: 1;
    color: var(--Grey-light-2);
    z-index: 1; }
  @media only screen and (max-width: 56.25em) {
    .Review {
      padding: 2rem;
      margin-bottom: 3rem; } }

.CTA {
  padding: 3.5rem;
  text-align: center;
  background-color: white; }
  .CTA-Header {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }
    @media only screen and (max-width: 31.25em) {
      .CTA-Header {
        font-size: 1.8rem; } }
  @media only screen and (max-width: 56.25em) {
    .CTA {
      padding: 2.5rem 0; } }

.btn {
  position: relative;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 10rem;
  background-image: linear-gradient(to right, var(--Primary-Color-Light), var(--Primary-Color-Dark));
  overflow: hidden;
  cursor: pointer; }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 200ms; }
  .btn-Visible {
    padding: 2rem 7.5rem; }
  .btn-InVisible {
    padding: 2rem 0;
    position: absolute;
    left: 0;
    top: -100%; }
  .btn:hover .btn-Visible {
    transform: translateY(100%); }
  .btn:hover .btn-InVisible {
    top: 0; }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }
