.Features{
    grid-area: Features;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 6rem;
    align-items: start;

    margin: 15rem auto;

    width: 75%;

}

.Feature{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, min-content);
    row-gap: 1rem;
    column-gap: 2rem;

    &-Icon{
        height: 4.5rem;
        width: 4.5rem;

        fill: $Color-Primary;

        grid-column: 1;

        transform: translateY(-1rem);
    }

    &-Text{
        font-size: 1.7rem;

        grid-row: 2;
        grid-column: 2;
    }

}